CONFIG_INSTALL_NO_USR=y
CONFIG_EJECT=n
CONFIG_MT=n
CONFIG_ARP=n
CONFIG_ARPING=n
CONFIG_ETHER_WAKE=n
CONFIG_IFPLUGD=n
CONFIG_INETD=n
CONFIG_NAMEIF=n
CONFIG_ZCIP=n
CONFIG_FEATURE_UDHCPC_ARPING=n
CONFIG_UDHCPD=n
CONFIG_SETARCH=n
CONFIG_READAHEAD=n
CONFIG_BOOTCHARTD=n

CONFIG_PLATFORM_LINUX=n
CONFIG_SELINUX=n
CONFIG_CHVT=n
CONFIG_FGCONSOLE=n
CONFIG_DEALLOCVT=n
CONFIG_DUMPKMAP=n
CONFIG_KBD_MODE=n
CONFIG_LOADFONT=n
CONFIG_LOADKMAP=n
CONFIG_OPENVT=n
CONFIG_SETCONSOLE=n
CONFIG_SETFONT=n
CONFIG_SETKEYCODES=n
CONFIG_SETLOGCONS=n
CONFIG_SHOWKEY=n
CONFIG_MODINFO=n
CONFIG_MODPROBE_SMALL=n
CONFIG_LSATTR=n
CONFIG_UDHCPD=n
CONFIG_UDHCPC=n
CONFIG_NAMEIF=n
CONFIG_PING=n
CONFIG_ARP=n
CONFIG_ARPING=n
CONFIG_BRCTL=n
CONFIG_ETHER_WAKE=n
CONFIG_IFCONFIG=n
CONFIG_IFENSLAVE=n
CONFIG_IFPLUGD=n
CONFIG_IP=n
CONFIG_NETSTAT=n
CONFIG_NTPD=n
CONFIG_ROUTE=n
CONFIG_SLATTACH=n
CONFIG_TRACEROUTE=n
CONFIG_TUNCTL=n
CONFIG_VCONFIG=n
CONFIG_ZCIP=n
CONFIG_STAT=n
CONFIG_CONSPY=n
CONFIG_NANDWRITE=n
CONFIG_NANDDUMP=n
CONFIG_SETSERIAL=n
CONFIG_UBIATTACH=n
CONFIG_UBIDETACH=n
CONFIG_UBIMKVOL=n
CONFIG_UBIRMVOL=n
CONFIG_UBIRSVOL=n
CONFIG_UBIUPDATEVOL=n
CONFIG_ADJTIMEX=n
CONFIG_BEEP=n
CONFIG_DEVFSD=n
CONFIG_FEATURE_DEVFS=n
CONFIG_EJECT=n
CONFIG_FBSPLASH=n
CONFIG_IONICE=n
CONFIG_HDPARM=n
CONFIG_RAIDAUTORUN=n
CONFIG_RFKILL=n
CONFIG_RX=n
CONFIG_WATCHDOG=n
CONFIG_UPTIME=n
CONFIG_FREE=n
CONFIG_MONOTONIC_SYSCALL=n
CONFIG_MDEV=n
CONFIG_ACPID=n
CONFIG_BLKID=n
CONFIG_DMESG=n
CONFIG_FBSET=n
CONFIG_FDFLUSH=n
CONFIG_FDFORMAT=n
CONFIG_FDISK=n
CONFIG_FINDFS=n
CONFIG_FREERAMDISK=n
CONFIG_MKFS_EXT2=n
CONFIG_MKFS_MINIX=n
CONFIG_MKFS_REISER=n
CONFIG_MKFS_VFAT=n
CONFIG_HWCLOCK=n
CONFIG_IPCS=n
CONFIG_LOSETUP=n
CONFIG_LSPCI=n
CONFIG_LSUSB=n
CONFIG_MOUNT=n
CONFIG_PIVOT_ROOT=n
CONFIG_READPROFILE=n
CONFIG_RTCWAKE=n
CONFIG_SETARCH=n
CONFIG_SWAPONOFF=n
CONFIG_SWITCH_ROOT=n
CONFIG_UMOUNT=n
CONFIG_IP=n
CONFIG_IFUPDOWN=n
CONFIG_NBDCLIENT=n
CONFIG_BLOCKDEV=n
